.calc {
  color: #fff;
  max-width: 50rem;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 5px;
}

.calc__display {
  background: var(--color-display);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 1.9rem;
  padding: 2.5em 2rem 1.5em;
  text-align: right;
}

.calc__btns-container {
  background: var(--color-btns-container);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;
}

.calc__btn {
  cursor: pointer;
  border: none;
  background: var(--color-calc-btn);
  color: var(--color-display);
  padding: 1.5em 2rem;
}

.btn--span-2 {
  grid-column: span 2;
}

.btn--colored {
  background: var(--color-calc-btn-colored);
  color: var(--color-display);
}
